body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
    
    }
    
    h1 {
    text-align: center;
    color: #4e6bff;
    margin-top: 20px;
    }
    
    form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    }
       
    button {
        width: 100%;
        background-color: #4e6bff;
        color: white;
        padding: 10px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
    
    button:hover {
        background-color: #3248ff;
    }
    
    #g_id_onload, .g_id_signin {
        margin-top: 20px;
        text-align: center;
    }
    #buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .postman-run-button{
        margin-top: 2px;
        margin-left: 10px;
    }